:root {
    --primaryColor: rgb(0, 0, 102);
    --secondaryColor: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 228, 228);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    margin: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.your-score, .time-remaining {
    margin: auto 0;
}


main {
    margin: 0;
    padding: 2%;
    min-height: 950px;
}

button {
    display: block;
    width: 100%;
    padding: 2%;
    margin: 5% 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(61, 132, 255);
    color: var(--secondaryColor);
    font-weight: bold;
}

.startPage, .quiz-section, .user-scores, .play-again {
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.displayChoices label {
    display: block;
    padding: 2%;
    margin: 2% 0;
    width: 100%;
    border: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 5px;
}

.displayChoices label:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    background-color: rgb(61, 132, 255);
}

.answer-section button:hover {
    cursor: pointer;
    color: var(--secondaryColor);
    background-color: rgb(61, 132, 255);
}

.play-again {
    padding: 2%;
}

.user-scores {
    border: 5px solid var(--primaryColor);
    min-height: 200px;
}

.user-info p {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
}

footer {
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-align: center;
}

