:root {
    --primaryColor: rgb(0, 0, 102);
    --secondaryColor: rgb(255, 255, 255);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 228, 228);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.high-scores {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.high-scores:hover {
    background-color: rgb(61, 132, 255);
    color: var(--secondaryColor);
    cursor: pointer;
}

.time-remaining {
    margin: auto 0;
}

main {
    margin: 0;
    padding: 2%;
    min-height: 90vh;
}

.startPage, .quiz-section {
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.answer-options {
    text-align: left;
}

.answer-options button {
    display: block;
    width: 100%;
    padding: 2%;
    margin: 5% 0;
}

.answer-options button:hover {
    cursor: pointer;
    background-color: rgb(61, 132, 255);
    color: var(--secondaryColor);
    font-weight: bold;
}

.quiz-section {
    text-align: left;
}

.displayChoices label {
    display: block;
    padding: 2%;
    margin: 2% 0;
    width: 100%;
    border: 1px solid var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 5px;
}

.displayChoices label:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    background-color: rgb(61, 132, 255);
}

footer {
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-align: center;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.answer-section, .controls-section {
    text-align: center;
    margin: 2% 0;
}

.answer-section button, .controls-section button {
    padding: 2%;
    margin: 2%;
    width: 100%;
}

.controls-section button {
    padding: 2%;
    margin: 2%;
    width: 25%;
}

.answer-section button:hover, .controls-section button:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    background-color: rgb(61, 132, 255);
}